.Register{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to LEFT, #434343 0%, black 100%);
}

.RegisterPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 3.3rem;
    margin-left: 10rem;
    margin-right: 10rem;
    background: #F8F8F8;
    box-shadow: 0px 4px 15px 10px rgba(232, 229, 229, 0.25);
}

#RegTitle{
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: -0.5rem;
    color: #636364;
}

#signUp{
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    color: #636364;
}

.RegisterPage-Right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#regImg {
    height: 40rem;
    border-radius: 0px 10px 10px 0px;
}

.RegisterPage-Container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.RegisterPage-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

#userName,
#email,
#password {
    width: 19.62294rem;
    height: 2.58194rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(196, 196, 196, 0.00);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    color: #636364;
}

#age,
#gender,
#height,
#weight {
    width: 9.42294rem;
    height: 2.58194rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(196, 196, 196, 0.00);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    color: #636364;
}

#gender-box {
    width: 9.42294rem;
    height: 2.58194rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(196, 196, 196, 0.00);
    text-align: center;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    color: #636364;
}

.userDetails {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 0.5rem;
    row-gap: 2rem;
}

#RegBtn1 {
    outline: none;
    border: none;
    width: 19.62294rem;
    height: 2.58194rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: #EA454C;
    box-shadow: 0px 4px 10px 0px rgba(233, 68, 75, 0.25);
    text-align: center;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    color: #636364;
    font-weight: 500;
}

#RegBtn2 {
    width: 19.62294rem;
    height: 2.58194rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(234, 69, 76, 0.00);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    color: #636364;
    font-weight: 500;
}

#RegBtn1:hover, #RegBtn2:hover{
    font-size: 1.2rem;
    width: 20.62294rem;
    height: 3.58194rem;
}