.RegisterPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 8rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

.RegisterPage-left{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 50%; 
}

#regImg{
    max-height: 27rem;
    max-width: 100%;
}

.RegisterPage-Container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.RegisterPage-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.userDetails{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 0.5rem;
    row-gap: 2rem;
}